<aside>


<div class="widget categories">
<h4 class="widget-title">All Categories</h4>
<ul class="categories-list">
<li>
<a href="/category/hotel & travels">
<i class="lni-dinner"></i>
Hotel & Travels <span class="category-counter">({{hotel}})</span>
</a>
</li>
<li>
<a href="/category/services">
<i class="lni-control-panel"></i>
Services <span class="category-counter">({{services}})</span>
</a>
</li>
<a href="/category/mobiles" style="color: gray;  margin-left:4px">
<i class="lni-home"></i>
Mobiles <span class="category-counter">({{mobiles}})</span>
</a>
</li><pre>
</pre>
<a href="/category/training" style="color: gray;  margin-left:4px">
<i class="lni-pencil"></i>
Training <span class="category-counter">({{training}})</span>
</a>
</li><pre>
</pre>
<a href="/category/vehicles" style="color: gray;  margin-left:4px">
<i class="lni-display"></i>
Vehicles <span class="category-counter">({{vehicles}})</span>
</a>
</li><pre>
</pre>
<li>
<a href="/category/pets">
<i class="lni-github"></i>
Pets <span class="category-counter">({{pets}})</span>
</a>
</li>
<li>
<a href="/category/foods">
<i class="lni-coffee-cup"></i>
Foods <span class="category-counter">({{foods}})</span>
</a>
</li>
<li>
<a href="/category/real Estate">
<i class="lni-home"></i>
Real Estate <span class="category-counter">({{realEstate}})</span>
</a>
</li>
<li>
<a href="/category/clothes & accessories">
<i class="lni-pencil"></i>
Clothes and Accessories <span class="category-counter">({{clothes}})</span>
</a>
</li>
<li>
<a href="/category/electronics">
<i class="lni-display"></i>
Electronics <span class="category-counter">({{electronics}})</span>
</a>
</li>
<a href="/category/other" style="color: gray; margin-left:4px">
<i class="lni-control-panel"></i>
Other <span class="category-counter">({{other}})</span>
</a>
</li>
</ul>
</div>
<div class="widget">
<h4 class="widget-title">Advertisement</h4>
<div class="add-box">
<img class="img-fluid" src="/img/img1.jpg" alt="">
</div>
</div>
</aside>