  
<div class="row">
    {{#each allProducts}}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="featured-box">
    
<figure>
{{!-- <span class="price-save">
10% Save
</span> --}}
<div class="icon">
<span class="bg-green"><i class="lni-heart"></i></span>
<span><i class="lni-bookmark"></i></span>
</div>
<a href="#"><img class="img-fluid" src="{{image}}" alt="" style="width: 420px; height:290px;"></a>
</figure>
<div class="feature-content">
<div class="product">
<a href="#">{{categories}} > </a>
<a href="#">{{adTitle}}</a>
</div>
<h4><a href="/ads-details/{{_id}}">{{adTitle}} ...</a></h4>
<div class="meta-tag">
<span>
<a href="#"><i class="lni-user"></i> {{firstName}} {{lastName}}</a>
</span>
<span>
<a href="#"><i class="lni-map-marker"></i> {{country}}, {{city}}</a>
</span>
{{!-- <span>
<a href="#"><i class="lni-tag"></i> Apple</a>
</span> --}}
</div>
{{!-- <p class="dsc">{{body}}</p> --}}
<div class="listing-bottom"><br>
<h3 class="price float-left">N{{price}}</h3><pre>



</pre>
<a href="/ads-details/{{_id}}" class="btn btn-common float-right">View Details</a>
</div>
</div>
</div>
</div>
{{/each}}
</div>





{{#if category}}

<div class="pagination-bar">
<nav>
<ul class="pagination justify-content-center">
    {{#if previous}}
<li class="page-item"><a class="page-link" href="/search/{{category}}/?page={{previous}}">Previous</a></li>
  {{/if}}

    {{#each allPages}}
<li class="page-item"><a class="page-link active" href="/search/{{category}}?page={{pageNumber}}">{{pageNumber}}</a></li>
{{/each}}

{{#if next}}
<li class="page-item"><a class="page-link" href="/search/{{category}}/?page={{next}}">Next</a></li>
{{/if}}
</ul>
</nav>
</div>

</div>
</div>
</div>


{{else}}


<div class="pagination-bar">
<nav>
<ul class="pagination justify-content-center">
    {{#if previous}}
<li class="page-item"><a class="page-link" href="/category/?page={{previous}}">Previous</a></li>
  {{/if}}

    {{#each allPages}}
<li class="page-item"><a class="page-link active" href="/category/?page={{pageNumber}}">{{pageNumber}}</a></li>
{{/each}}

{{#if next}}
<li class="page-item"><a class="page-link" href="/category/?page={{next}}">Next</a></li>
{{/if}}
</ul>
</nav>
</div>
</div>
</div>
</div>
{{/if}}